body{
  font-family:Arial;
  margin:0;
  background-image:url(stardust.png);
}
.main{
  background-color:white;
  margin:3% 15%; 
  padding:1% 5%;
}
a{
  color:white;
  text-decoration:none;
}
#blue{
  color:blue;
}
header{
  text-align:center;
  background-color:#cc6666;
  padding:5px;
}
.magi{
  text-align:center;
}
header ul li{
  color:white;
  display:inline;
}
#k{
  color:#009973;
  margin:3px;
}
.photos ul li{
  display:inline;
}
.photos ul{
  padding-left:0px;
}
img{
  margin-right:2%;
  height:40%;
  width:30%;
}
hr{
  margin-top:0;
}
